<!-- Cards Section -->
<section class="down">
  <div class="cards">
    <div class="artist"></div>

    <p class="dev"> Created with ❤️ by
      <strong><a href="https://github.com/pratyushranjn" target="_blank">
        Pratyush</a></strong> © 2025</p>
  </div>
</section>
