<head>
  <meta charset="UTF-8" />
  <meta
    name="viewport"
    content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"
  />
  <title>WaveTune🌊</title>
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="shortcut icon" href="/assets/icon.png" type="image/x-icon" />
  <link
    href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200..800&family=Poppins:wght@100..900&family=Roboto:wght@100..900&display=swap"
    rel="stylesheet"
  />

  <link rel="stylesheet" href="/css/style.css" />
  <link rel="stylesheet" href="/css/card.css" />
  <link rel="stylesheet" href="/css/common.css" />
  <link rel="stylesheet" href="/css/sidebar.css" />
  <link rel="stylesheet" href="/css/player.css" />

  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
    integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
  />

  <script type="module" defer src="/js/script.js"></script>
  <script type="module" defer src="/js/album.js"></script>
  <script type="module" defer src="/js/sidebar.js"></script>
  <script defer src="/js/controls.js"></script>
</head>
